<h2>New Post</h2>
<form>
	<label for="post_title">Title</label>
	<input type="text" name="post[title]" id="post_title">

	<label for="post_body">Body</label>
	<br />
	<textarea id="post_body" name="post[body]"></textarea>

	<button id="submit_button">Submit</button>
</form>