<div id="header">
	<p><em>Welcome to our super cool posting app!</em></p>
</div>
<div class="container">
	<div id="sidebar"></div>
	<div id="content"></div>
</div>

<script type="application/javascript">
$(function(){
	window.J.initialize($('#sidebar'), $('#content'), 'posts')
	});
</script>