<div id="sidebar" style="float: left; width: 300px;"></div>
<div id="content" style="float: right; width: 300px;"></div>

<script type="application/javascript">
$(function(){
	window.J.initialize($('#sidebar'), $('#content'), 'posts')
	});
</script>