/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#sidebar {
	float: left;
	width: 200px;
	border: 1px solid #AAA;
	border-radius: 5px;
	text-align: center-left;
	background-color: #CCC;
	padding: 20px;
	font-family: georgia;
}

#sidebar ul {
	list-style: none;
}

#content {
	width: 350px;
	float: left;
	margin-left: 40px;
	border: 1px solid #000;
	border-radius: 5px;
	padding: 20px;
	text-align: center;
	font-family: courier;
}

button {
	background-color: #500;
	border-radius: 5px;
	color: #FFF;
}